@import "../../node_modules/andy-ui/src/stylesheets/sass/aui-vue-base/dev";

.aui-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}

.aui-editor  {
    .wysiwyg-container {
        overflow: visible;
        color: $aui-brand-black;
        background: none white;
        padding: 3px 7px;
    }

    .wysiwyg-textarea {
        display: block;
        width: 100%;
        min-height: 1.5em;          /* should be equal to line-height */
        padding: 0;
        resize: none;
    }

    .wysiwyg-wrapper {
        position: relative;
    }

    .wysiwyg-editor {
        padding: 0;
        position: relative;
        min-height: 1.5em;      /* should be equal to line-height */
        overflow: auto;
        outline: none;
        color: #141824;
        line-height: 1.49em;
        word-wrap: break-word;
    }

    .wysiwyg-placeholder {
        position: absolute;
        left: 1px;
        top: 3px;
        opacity: 0.54;  /* https://developer.mozilla.org/de/docs/Web/CSS/%3A%3A-moz-placeholder */
        line-height: 1;
    }
}

.aui-editor {
    &--mystyle {
        .app-toolbar {
            border-bottom: 1px solid $aui-brand-light-sliver;
            .aui-button {
                vertical-align: middle;
                text-align: center;
                padding: 7px 7px 5px;
                line-height: 1;
                svg {
                    fill: $aui-brand-sliver;
                }
            }
        }
    }
    .wysiwyg-editor {
        // ie bug
        > p {
            margin: 0;
            display: block;
        }
    }
    &__row {
        margin: 0;
        display: block;
    }
}