/* 

*/
.aui-button {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px; }

.aui-editor .wysiwyg-container {
  overflow: visible;
  color: #1c2b36;
  background: none white;
  padding: 3px 7px; }
.aui-editor .wysiwyg-textarea {
  display: block;
  width: 100%;
  min-height: 1.5em;
  /* should be equal to line-height */
  padding: 0;
  resize: none; }
.aui-editor .wysiwyg-wrapper {
  position: relative; }
.aui-editor .wysiwyg-editor {
  padding: 0;
  position: relative;
  min-height: 1.5em;
  /* should be equal to line-height */
  overflow: auto;
  outline: none;
  color: #141824;
  line-height: 1.49em;
  word-wrap: break-word; }
.aui-editor .wysiwyg-placeholder {
  position: absolute;
  left: 1px;
  top: 3px;
  opacity: 0.54;
  /* https://developer.mozilla.org/de/docs/Web/CSS/%3A%3A-moz-placeholder */
  line-height: 1; }

.aui-editor--mystyle .app-toolbar::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ffdbe2; }
.aui-editor--mystyle .app-toolbar .aui-button {
  vertical-align: middle;
  text-align: center;
  padding: 7px 7px 5px;
  line-height: 1; }
  .aui-editor--mystyle .app-toolbar .aui-button svg {
    fill: #8492A6; }
.aui-editor .wysiwyg-editor > p {
  margin: 0;
  display: block; }
.aui-editor__row {
  margin: 0;
  display: block; }

#app.pink-style button {
  color: #F596AA; }
#app.pink-style .aui-editor--mystyle .app-toolbar .aui-button svg {
  transition: fill .4s ease; }
  #app.pink-style .aui-editor--mystyle .app-toolbar .aui-button svg:hover {
    fill: #F596AA; }
